<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<title>Sephora - Forums in Swift</title>
    <link rel="stylesheet" type="text/css" href="/styles/forum.css">
</head>
<body>

<header>
	<a href="/">
		<img class="logo" src="/images/swiftlogo.png" width="80" height="80">
		<h1>Swift Is Everywhere!</h1>
		<h3>Join us in our quest to conquer the app world</h3>
	</a>
</header>

<main>
	<aside>
		<h1>Forums</h1>
		<ul>
		<li><a href="/forum/general">General discussion</a></li>
		<li><a href="/forum/tutorials">Tutorials</a></li>
		<li><a href="/forum/swift3">Swift 3</a></li>
		<li><a href="/forum/swift2">Swift 2</a></li>
		<li><a href="/forum/ios">iOS</a></li>
		<li><a href="/forum/tvos">tvOS</a></li>
		<li><a href="/forum/watchos">watchOS</a></li>
		<li><a href="/forum/macapps">macApps</a></li>
		<li><a href="/forum/webapps">webApps</a></li>
		<li><a href="/forum/frameworks">Frameworks</a></li>
		<li><a href="/forum/hiring">Hiring</a></li>
		<li><a href="/forum/forhire">For hire</a></li>
		<li><a href="/forum/showcase">Showcase</a></li>
		<li><a href="/forum/request">Request apps</a></li>
		<li><a href="/forum/meta">Meta</a></li>
		</ul>
	</aside>

	<section>
		<h1>Latest Messages</h1>
		<table class="latest">
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
			<tr>
				<td>123 views<br>8 answers</td>
				<td><h3><a href="/forum/general/post/123456">XCode ate my homework</a></h3>General discussion</td>
				<td>by <a href="/user/albatross">Albatross</a><br>30 mins ago</td>
			</tr>
		</table>
	</section>
</main>

<footer>
	<div class="info">Forums by Sephora is powered by Swift</div>
	<div class="last">Swift Is Everywhere</div>
</footer>

</body>
</html>