/* SEPHORA 1.0 */


main { overflow: auto; display: block; padding-bottom: 50px; }

section { overflow: auto; padding: 20px 80px 20px 20px; }

/* ADMIN TABLES */
table { width:100%; border-collapse: collapse; border: 1px solid #CCC; font-size: 80%; table-layout:fixed; }
table tr:nth-child(odd) { background-color: #e4e8ea; }
table th, table td { padding: 2px 6px; border: 1px solid #CCC; }
table th { font-weight: 400; font-variant: small-caps; }
table td { word-wrap: break-word; }

/* END */