/* SEPHORA 1.0 */

html, body { margin: 0; padding: 0; }

body {
	min-width: 1000px;
	font-family: "Helvetica Neue";
	font-size: 90%;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: .8px; 
	color: #333;
}

h1,h2,h3,h4,h5 { font-weight: normal; }

a { color: #D42; text-decoration: none; }
a:hover { color: #B42; }

li { list-style-type: none; }

header { height: 80px; padding: 20px; color: #FFF; background: linear-gradient(#F55214, #F89248); border-bottom: 1px solid #F84824; }
header .logo { float: left; margin-right: 10px; }
header h1, header h3 { margin:0; padding: 0px; color: #FFF; padding-left: 100px;}
header h3 { padding-left: 100px; }

header actions { float: right; margin-top: -20px; font-size: 70%; }
header actions a { padding: 2px 10px; color: #FFF; border: 1px solid #EEE; border-radius: 4px; font-variant: small-caps; }
header actions a:hover { color: #FFF; border: 1px solid #FFF; background: rgba(64,64,64,.1);}

main { overflow:auto; display:block; padding-bottom: 50px; background: #F0F0F0; border-top: 1px solid #FFF; /*border-bottom:1px solid #FFF;*/ }

aside { float: left; width: 220px; padding-left: 120px; padding-top: 20px; }
aside ul { margin:0; padding: 10px 0; margin-right: 40px; border-right: 1px dotted #F60; }
aside li { padding: 2px 0; font-size: 80%; font-weight: 400;}
aside ul.stats { font-size: 80%; color: #666; border-top: 1px dotted #F60; }
aside statnum { display: inline-block; float: right; margin-right: 10px;}

section { overflow: auto; padding: 20px 80px 20px 20px; }

table.latest { width: 100%; font-size: 80%; }
table.latest td{ padding: 6px 6px; /*border:1px solid red;*/ }
table.latest td:first-child{ width: 180px; padding-left: 0; }

/* LATEST POSTS */
nviews { display:inline-block; width: 60px; height: 40px; border-radius: 4px; border: 1px solid #CCC; text-align: center; }
nviews h1 { margin: 2px 0 0 0; padding: 0; font-size: 120%; }
nviews h2 { margin: 0; padding: 0; font-size: 80%; }
nreplies { display:inline-block; width: 60px; height: 40px; border-radius: 4px; border: 1px solid #CCC; text-align: center; }
nreplies h1 { margin: 2px 0 0 0; padding: 0; font-size: 120%; }
nreplies h2 { margin: 0; padding: 0; font-size: 80%; }
icon { display:inline-block; margin: 0; margin-left: 14px; }
icon img { margin: 0px; padding: 0; border: none; width: 32px; height: 32px; }

.forum-name { /*margin-bottom: 0; padding-bottom: 0;*/ }
.forum-descrip { /*margin-top: 0; padding-top: 0;*/ font-size: 80%; color: #888; font-weight: 300; }
.post-title { margin-top: 0; padding-top: 0; font-size: 80%; color: #888; font-weight: 300; }

item { display:block; }
post { display:block; font-size: 150%; }
info { display:block; font-size:80%; }
forum { font-weight: 500; }
forum a { color: #000; }
user { font-weight: 500; }
user a { color: #000; }
sep { color: #AAA; }

newpost { display: block; width: 500px; margin-top: 30px; padding-top:10px; border-top: 1px solid #CCC; }
newpost #title { width: 100%; }
newpost #content { width: 100%; height: 200px; }
newpost .small { margin: 0; padding: 0; text-align: right; font-size: 60%; color: #666; }
input[type="submit"] { width: 60px; /* height:30px; padding: 14px 30px; */}

/* VIEW POST */
article { margin-top: 30px; padding-bottom: 20px; }
article icon { float: left; margin: 0; margin-right: 10px; padding-top: 5px; }
article top { display: block; margin-left: 50px;  }
article h1 { margin-bottom: 0; padding-bottom: 0; color: #D42; }
article h6 { margin-top: 0; padding-top: 0; font-weight: normal; color: #888; }
article content { display: block; overflow: auto; clear: both; margin-left: 50px; font-weight: normal; }

replies { display: block; clear: both; overflow: auto; }
replies h3 { padding: 1px 20px; background: #CCC; color: #FFF; border-radius: 3px; }
replies h3 { border-top: 1px solid #AAA; border-left: 1px solid #AAA; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; }
reply { display: block; clear: both; overflow: auto; margin: 20px 0; border-bottom: 1px solid #CCC; }
reply side { float: left; margin-right: 10px; }
reply message { display: block; margin-left: 50px; }

votes { display: block; padding-bottom: 20px; text-align: center; }
voteup { display: block; }
votecount { display: block; }
votedn { display: block; }
votes img.off { opacity: .3; }

newreply { display: block; width: 500px; margin-top: 0px; padding-top: 10px; }
newreply h3 { padding: 1px 20px; background: #CCC; color: #FFF; border-radius: 3px; border-top: 1px solid #BBB; }
newreply h3 { border-top: 1px solid #AAA; border-left: 1px solid #AAA; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; }
/*newpost #title { width: 100%; }*/
newreply #content { width: 100%; height: 200px; }
newreply .small { margin: 0; padding: 0; text-align: right; font-size: 60%; color: #666; }


/* FOOTER */

footer { clear: both; padding: 10px 20px; color: #333; background: #e8e8e8; border-top: 1px dotted #BBB; }
footer line { display: block; margin: 0; padding: 0; text-align: center; }
footer line a, footer line a:visited { color: #333; }
footer line a:hover, footer line a:visited:hover { color: #B42; }
footer last { display: block; margin: 0; padding: 0; text-align: center; font-size: 75%; color: #D42; }

/* END */