/* SEPHORA 1.0 */

html, body { margin: 0; padding: 0; }

body {
	min-width: 1000px;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: .8px; 
	color: #333;
	background: #F0F0F0;
}

wrap { display: block; margin: 0 auto; padding: 0; min-width: 1000px; width: 1000px; max-width: 1000px; }

h1,h2,h3,h4,h5 { font-weight: normal; }

a { color: #D42; text-decoration: none; }
a:hover { color: #B42; }

li { list-style-type: none; }


actionbar { display: block; overflow: auto; text-align: right; background-color: #D42; background: linear-gradient(to left, #D42, #F84); border-top: 1px solid #D42; border-bottom: 1px solid #D42; }
feedback { float: left; margin-left: 112px; text-align: left; }
feedback a {padding: 4px 10px; color: #FFF; font-size: 0.8em; border-left: 1px solid transparent; border-right: 1px solid transparent; font-variant: small-caps; }
feedback a:hover { color: #FFF; background: rgba(64,64,64,.1); border-left: 1px solid #E64; border-right: 1px solid #E64; }
actions { margin: 0; padding-right: 80px; font-size: .8em; }
actions sep { color: #CCC; font-size: .7em; }
actions a { padding: 4px 10px; color: #FFF; border-left: 1px solid transparent; border-right: 1px solid transparent; font-variant: small-caps; }
actions a:hover { color: #FFF; background: rgba(64,64,64,.1); border-left: 1px solid #E64; border-right: 1px solid #E64; }
actions .nick { font-variant: small-caps; text-transform: capitalize; }
actions karma { font-size: .8em; }

header { /*height: 80px;*/ padding: 20px; }
header { border-top: 1px solid #FFF; border-bottom: 1px dotted #D42; }
header .logo { float: left; margin-top: 15px; margin-left: 30px; margin-right: 10px; border: 2px solid #d42; border-radius: 30px; }
header h1, header h3 { margin:0; padding: 0px; color: #D42; padding-left: 120px; }
header h1{ padding-top: 10px; opacity: .95; }
header h3 { opacity: .8; }

company { overflow: auto; }
/*
header actions { float: right; margin-top: -20px; font-size: .7em; }
header actions a { padding: 2px 10px; color: #FFF; border: 1px solid #EEE; border-radius: 4px; font-variant: small-caps; }
header actions a:hover { color: #FFF; border: 1px solid #FFF; background: rgba(64,64,64,.1);}
*/

main { overflow: auto; display: block; padding: 20px 0; }

aside { float: left; width: 220px; padding-left: 120px; padding-top: 0px; }
aside h1 a { color: #333; }
aside ul { margin:0; padding: 10px 0; margin-right: 40px; border-right: 1px dotted #F60; }
aside li { padding: 2px 0; font-size: .9em; font-weight: 400;}
aside ul.stats { font-size: .9em; color: #666; border-top: 1px dotted #F60; }
aside statnum { display: inline-block; float: right; margin-right: 10px;}

section { overflow: auto; padding: 0px 80px 20px 20px; }

.forum-name { /*margin-bottom: 0; padding-bottom: 0;*/ }
.forum-name a { color: #333; }
.forum-name a:hover { color: #B42; }
.forum-name a:visited { color: #333; }
.forum-name a:visited:hover { color: #B42; }
.forum-descrip { /*margin-top: 0; padding-top: 0;*/ font-size: .8em; color: #888; font-weight: 300; }
.post-title { margin-top: 0; padding-top: 0; font-size: .8em; color: #888; font-weight: 300; }


/* REGISTER */
register { display: block; margin-top: 26px; }
register .note { font-size: .8em; font-style: italic; color: #090; }
register #wait { width: 10px; height:10px;  visibility: hidden; }

userinfo { display: inline-block; width: 320px; margin-top: 0; padding: 10px; background: #FFF; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
userinfo name { display: block; font-size: 1em; font-weight: bold; margin: 0; padding: 0; }
userinfo nick { display: block; font-size: .8em; font-weight: regular; margin: 0; padding: 0; }
userinfo avatar { float:left; margin-right: 10px; width: 34px; height: 34px; border-radius: 16px; border: 1px solid #DDD; }
userinfo avatar img { width: 32px; height: 32px; padding: 1px; border-radius: 16px; border: none; }
userinfo #login { float: right; margin-top: -24px; visibility: hidden; }


/* LATEST POSTS */
latest { display: block; font-size: .8em; padding: 10px 0; }
latest icon { float: left; margin: 4px 14px 0 0; }
latest icon img { margin: 0px; padding: 0; border: none; width: 32px; height: 32px; }

item { display:block; margin-left: 50px; color: #555; }
item post { display:block; font-size: 1.5em; }
item info { display:block; font-size: .8em; }
item forum { font-weight: 600; }
item forum a { color: #444; }
item user { font-weight: 600; }
item user a { color: #444; }
sep { color: #AAA; }

newpost { display: block; /*width: 500px;*/ margin-top: 30px; padding-top: 10px; border-top: 1px solid #CCC; }
newpost #title { width: 100%; }
newpost #content { width: 100%; height: 200px; }
newpost .small { margin: 0; padding: 0; text-align: right; font-size: .6em; color: #666; }
input[type="submit"] { width: 60px; /* height:30px; padding: 14px 30px; */}

warn { display: block; margin-top: 30px; font-size: .8em; border-top: 1px solid #CCC; }
warn a { color: #333; border-bottom: 1px dashed #888; }

nav { display: block; margin-top: 20px; }
nav a { display: inline-block; width: 1.2em; margin: 0; padding: 2px 4px; text-align: center; border: 1px solid #CCC; }
nav a:hover { background-color: #DDD; border: 1px solid #D42; }
.page-off { color: #CCC; border: 1px solid #CCC; }
.page-on  { color: #FFF; background-color: #D42; border: 1px solid #D42; }

/* VIEW POST */
article { display: block; margin: 0; padding: 10px 0 20px 0; }
article icon { float: left; margin: 4px 14px 0 0; }
article icon img { margin: 0px; padding: 0; border: none; width: 32px; height: 32px; }

article top { display: block; }
article top a { color: #888; }
article h1 { margin: 0; padding: 0; color: #D42; font-size: 1.2em; }
article h1 a { color: #D42; }
article h1 a:hover { color: #B42; }
article h1 a:visited { color: #D42; }
article h1 a:visited:hover { color: #B42; }
article h6 { margin-top: 0; padding-top: 0; font-weight: 300; color: #888; }
article h6 user { font-weight: bold; color: #888; }
article h6 user a { color: #333; }
article content { display: block; overflow: auto; clear: both; margin-left: 46px; font-weight: normal; }

/* MARKDOWN */
article content s  { color: #AAA; }
article content h1 { font-size: 1.4em; color: #369; }
article content h2 { font-size: 1.2em; color: #369; }
article content h3 { font-size: 1.0em; color: #369; }
article content ul li { list-style-type: circle; }
article content ol li { list-style-type: decimal; }
article content blockquote { margin-left: 0; padding-left: 20px; border-left: 3px solid #CCC; color: #888; font-size: .8em; font-style: italic; }
article content code { padding: 1px 4px; color: #4A4; background-color: #030; border-radius: 2px; border: 1px solid #DDD; }
article content code { color: #333; background-color: #E6E6E6; }
article content pre { padding: 10px; color: #4A4; background-color: #030; border-radius: 2px; word-wrap: break-word; /*font-family: monaco;*/ }
article content pre { /*border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF;*/ }
article content pre { /*color: #4A4; background-color: #030;*/ }
article content pre { color: #353; background-color: #E0E9E5; border: 1px solid #C2DCCA;}
article content a   { color: #00A; }

/* EDIT POST */
article editor { display: block; overflow: auto; clear: both; margin-left: 46px; font-weight: normal; }
#edit-title    { display: none; }
#edit-content  { display: none; }
#new-title     { width: 500px; padding: 4px 6px; font-size: .9em; border-radius: 4px; border: 1px solid #DDD; }
#new-content   { width: 500px; height: 150px; padding: 4px 6px; font-size: .9em; border-radius: 4px; border: 1px solid #DDD; }

/* REPLIES */
replies { display: block; clear: both; overflow: auto; }
replies>h3 { padding: 1px 20px; background: #CCC; color: #FFF; border-radius: 3px; }
replies>h3 { border-top: 1px solid #AAA; border-left: 1px solid #AAA; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; }
reply { display: block; clear: both; overflow: auto; margin: 20px 0; border-bottom: 1px solid #CCC; }
reply side { float: left; margin: 0 10px 20px 6px; }

message { display: block; margin-left: 46px; }
message info { display: block; margin-top: 6px; font-size: .7em; color: #888; }
message info a { color: #888; }
message info user { font-weight: bold; }
message info user a { color: #333; }
message text { /*padding: 20px 0;*/ }
message text p:first-child { margin: 8px 0; }
message text a  { color: #04B; }
message text li { list-style-type: circle; }
message text blockquote { margin-left: 0; padding-left: 20px; border-left: 3px solid #CCC; color: #888; font-size: .8em; font-style: italic; }
message text pre { padding: 10px; color: #4A4; background-color: #030; border-radius: 2px; word-wrap: break-word; /*font-family: monaco;*/ }
message text pre { /*border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF;*/ }
message text pre { color: #4A4; background-color: #030; }
message text pre { color: #353; background-color: #E0E9E5; border: 1px solid #C2DCCA; }

/* EDIT REPLY */
message editor { display: block; margin: 20px 0; }
.edit-reply    { display: none; }
.new-reply     { width: 500px; height: 150px; padding: 4px 6px; font-size: .9em; border-radius: 4px; border: 1px solid #DDD; }

votes { display: block; text-align: center; }
voteup { display: block; }
votecount { display: block; color: #AAA; font-size: .8em; }
votedn { display: block; }
voteup img, votedn img { width: 24px; height: 24px; }
votes img.star-off:hover { opacity: 1; }
votes img.star-off { opacity: .5; background-image: url("/images/starno.png"); background-size: 24px 24px; }
votes img.star-on  { opacity:  1; background-image: url("/images/starok.png"); background-size: 24px 24px; }

answered img { display: none; width: 24px; height: 24px; margin-top: 10px; }
answered img.answer-no { display: none; }
answered img.answer-ok { display: block; }

newreply { display: block; /*width: 500px;*/ margin-top: 0px; padding-top: 10px; }
newreply h3 { padding: 1px 20px; background: #CCC; color: #FFF; border-radius: 3px; border-top: 1px solid #BBB; }
newreply h3 { border-top: 1px solid #AAA; border-left: 1px solid #AAA; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; }
/*newpost #title { width: 100%; }*/
newreply #content { width: 100%; height: 200px; }
newreply .small { margin: 0; padding: 0; text-align: right; font-size: .6em; color: #666; }

/* HELP */
help { display: none; }
help h2 { font-size: 1.1em; }
help table { width: 100%; border: 1px solid #CCC; border-collapse: collapse; font-size: .8em; }
help table th { border: 1px solid #CCC; text-align: left; padding: 2px 6px; }
help table td { border: 1px solid #CCC; padding: 2px 6px; vertical-align: top; }
help table ul { margin-left: 0px; }
help table ol { margin-left: 0px; }
help table ul li { list-style-type: circle; }
help table ol li { list-style-type: decimal; }
help table blockquote { color: #666; margin-left: 0; padding-left: 20px; border-left: 2px solid #CCC; }
help table code { color: #333; border: 1px solid #DDD; background: #E6E6E6; padding: 1px 4px; }
help table pre  { color: #333; border: 1px solid #DDD; background: #E6E6E6; padding: 1px 4px; }


/* FOOTER */

footer { clear: both; padding: 20px; color: #333; /*background: #e8e8e8;*/ border-top: 1px dotted #D42; }
footer legal { display: block; padding: 0 80px 0 0; text-align: right; }
footer h3 { margin: 0; padding: 0; }
footer line { display: block; margin: 0; padding: 0; }
footer line a, footer line a:visited { color: #333; }
footer line a:hover, footer line a:visited:hover { color: #B42; }
footer last { display: block; margin: 0; padding: 0; color: #D42; }




/* ---- RESPONSIVE FOR MOBILE -------------------------------------------------------- */

/*@media screen and (max-width: 720px) and (max-device-width: 720px) {*/
/*@media screen and (max-width: 720px) and (max-device-width: 720px) and (orientation:portrait) {*/
@media screen and (min-width: 310px) and (min-device-width: 310px) and (orientation:portrait) {

body { min-width: 100%; width: auto; padding: 0; }

wrap { min-width: auto; width: auto; max-width: auto; padding: 10px; }

actionbar { text-align: center; }
actions { margin: 0; padding: 0; }

header { padding: 20px 0; }
header .logo { float: left; margin-top: 0px; margin-left: 0; margin-right: 10px; border-radius: 50%; width: 10%; height: 10%; }
header h1 { font-size: 1.6em; }
header h1, header h3 { margin: 0; padding: 0; margin-left: 12%; }
header h3 { font-size: .8em; }

.forum-name { margin-top: 0; text-align: center; color: #FFF; background-color: #D42; background: linear-gradient(to left, #D42, #F84); border-top: 1px solid #D42; border-bottom: 1px solid #D42; }
.forum-name a, .forum-name a:visited { color: #FFF; }
.forum-name sep { display: none; }
.forum-descrip { display:block; text-align: center; color: #EEE; font-size: .7em; }

section { padding: 0; }

aside { display: block; float: none; border: none; padding: 0; border-bottom: 1px dotted #F60; width: auto; }
aside .forums { border: none; margin: 0; padding: 20px 0; }
aside li { font-size: 1em; }
aside h1 { margin: 0; padding: 0; }
aside .stats { font-size: 1em; border: none; margin: 0; padding: 20px 0; }
aside .stats { display: none; }
aside statnum { margin-right: 0; font-size: 1em; }

latest { padding: 5% 0; border-top: 1px solid #888; }
latest item info { margin: 0; padding: 0; }
/*latest item info sep:nth-of-type(2) { display: block; visibility: hidden; }*/
/*latest item info time { display: inline-block; margin: -10px 0 0 50px; }*/
latest icon { display: none; }

form li { text-align: center; }

message { font-size: 1em; }
message info { font-size: inherit; }
message text pre { font-size: inherit; }

newpost #title { width: 98%; }
newpost #content { width: 98%; }
newpost .small { text-align: center; }

newreply #content { width: 98%; }
newreply .small { text-align: center; }


reply { }
reply side { display: block; float: left; margin: auto; }

message { margin-left: 12%; }
message info { margin-top: 0; font-size: 1em; }
message text p:first-child { margin: 5% 0; }
message text blockquote { padding-left: 10%; font-size: 1em; }

warn { text-align: center; }

pre { font-size: 1em !important; }

nav { text-align: center; }
nav a { width: auto; }

footer { padding: 5% 0; border-top: 4px solid #D42; }
footer legal { padding: 0; text-align: center; }

}

/* END */